body {
  margin: 2em;
}

.mainSearch {
  padding: 2.5em;
  background-color: hsla(360, 70%, 35%, 0.50);
  border-radius: 1em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
}
